# Node.js / React
**/node_modules
**/npm-debug.log
**/yarn-debug.log
**/yarn-error.log
**/build
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Python
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/.pytest_cache
**/venv/
**/.venv/
**/ENV/

# Docker
.dockerignore
**/Dockerfile
**/docker-compose.yml

# Git
.git
.gitignore

# Editor directories and files
.idea/
.vscode/
**/*.swp
**/*.swo

# System files
.DS_Store
**/Thumbs.db
